body{
    margin: 0%;
}
.top-text{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Yeseva One', cursive;

}
h1{
    font-size: 60px;
}
.person-profile{
    width: 50%;
    margin-left: 10%;
}
.person-profile img{
    width: 50%;
    margin-left: 20%;
    margin-top: 10%;
}
.flex-container{
    display: flex;
    
    
}
#mission-color{
    color: purple;

}
#left-border{
    
    border-left: solid rgb(236, 71, 236) 4px;
    border-radius: 2px 2px;
    padding-left: 8px;
    

}
.link-button{
    color: white;
    text-decoration: none;
    border-radius: 7px;
    padding: 10px 25px;
    background-image: linear-gradient(tomato,rgb(247, 170, 157));
}
#about-us{
    padding-top: 5%;
}
.my-mission{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Yeseva One', cursive;
    text-align: center;   
}
span{
    color: tomato;

    
}
.half-width{
    width: 40%;
    
    margin-left: 10%;
    border-radius: 8%;
    text-align: justify;
    padding: 10px 10px 10px 10px;
    
}
.color-change-mission{
    background-color: #E6E6FA
    
    ;
}
.color-change-vission{
    background-color: #FFF0F5;
}
.color-change-goal{
    background-color: #FFEBCD;
}
.half-width img{
    width: 30%;
}
.font-design{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.devlop-part{
    
    width: 20%;
    margin-left: 10%;
}

.devlop-part img
{
    width: 120%;
    margin-bottom: 10%;
    margin-top: 10%;
}
.back-img{
    background-image: url(images/pictures/dream-bg.png);
    background-repeat: no-repeat;
    margin: 0 auto;    

}
.Community{
    width: 50%;
    margin-left: 10%;
}
.Community img{
    width: 50%;
    margin-left: 20%;
    margin-bottom: 12%;
}
footer{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Yeseva One', cursive;    
    text-align: center;
    background-color: black;
    color: white;
    padding-bottom: 2%;
    padding-top: 2%;
}
.footer-style{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}
