.top-text{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Yeseva One', cursive;

}
h1{
    font-size: 60px;
}
.person-profile{
    width: 50%;
    margin-left: 10%;
}
.person-profile img{
    width: 50%;
    margin-left: 20%;
    margin-top: 10%;
}
section{
    display: flex;
}
#mission-color{
    color: purple;

}
#left-border{
    
    border-left: solid rgb(236, 71, 236) 4px;
    border-radius: 2px 2px;
    padding-left: 8px;
    
}
.section-divide{
    display: flex;
}
.link-button{
    color: white;
    text-decoration: none;
    border-radius: 7px;
    padding: 10px 25px;
    background-image: linear-gradient(tomato,rgb(175, 61, 41));
}
#about-us{
    padding-top: 5%;
}
.my-mission{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Yeseva One', cursive;
    text-align: center;   
}
span{
    color: tomato;
}
#first-illustator-pic img{
    width: 20%;
    
}